.gridUser{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .user-card {
    background-color: darkslategray;
    border: 1px solid cyan;
    color: cyan;
    padding: 10px;
    margin-bottom: 10px;
  }