.gridUser{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .user-card {
    background-color: darkslategray;
    border: 1px solid cyan;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
  }

  h1 {
    color: cyan;
    text-align: center;
    padding-bottom: 30px;
  }